<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="SourceFolderPath" value="C:\English\File Monitoring Windows Service\Source" />
		<add key="DestinationFolderPath" value="C:\English\File Monitoring Windows Service\Destination" />
		<add key="LogFolderPath" value="C:\English\File Monitoring Windows Service\Logs" />
		<add key="LogFileName" value="Logs.txt" />
	</appSettings>
</configuration>
